.profile {
  @include margin(80px);
  position: relative;
  display: flex;
  flex-direction: column;

  &__wrap {
    z-index: $z-index-content;
  }

  &__content {
    @include margin(23px);
  }

  &__sign {
    width: 80%;
    margin: 18px auto;
  }

  &__background {
    position: absolute;
    left: 0;
    bottom: 0;
    object-fit: contain;
    height: 34%;
  }

  &__header {

  }

  &__subheader {
    background: $subtitleBackground;
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    @include padding(14px, 18px, 14px, 18px);
  }

  &__subtitle {
    font-family: $fontFamilySecondary;
    @include font-size(16px);
    color: #FFFEFE;
  }

  &__footer {
    @include padding(24px, 0px, 12px, 0px);
  }

  &__title {
    font-family: $fontFamilySecondary;
    color: #000000;
    @include font-size(24px);
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__slider {
    position: relative;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    margin-top: 6px;
  }

  &__nav-slider {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.p-slider {
  &__img-wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;

    border-radius: 6px;

    @include _more-than($bp-xxl-375) {
      border-radius: #{get-vw(6px, $bp-xxl-375)};
    }
  }

  &__img {
    display: none;
    object-fit: contain;

    &--show {
      display: block;
    }
  }
}

.p-footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__column {

  }

  &__text {
    font-family: $fontFamilyPrimary;
    font-style: italic;
    @include font-size(18px);
    @include padding(0px, 80px, 0px, 0px);
  }
}

.profile-nav {
  width: 100%;
  @extend %s-border;
  background-color: $popupBackground;
  @include padding(10px, 10px, 10px, 10px);

  &__header {
    background: #191847;
    @include padding(14px, 18px, 14px, 18px);
  }

  &__title {
    font-family: $fontFamilySecondary;
    @include font-size(16px);
    color: #FFFEFE;
  }

  &__body {
    //@include padding(12px, 18px, 6px, 18px);
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.accordion {

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;

    width: 100%;
    border-radius: 4px;
    background: none;
    cursor: pointer;

    padding: 5px;

    border: none;
    text-align: left;
    outline: none;

    transition: 0.5s;

    &--active, &:hover {
      background-color: #E1F1FE;
    }
  }

  &__item-title {
    font-family: $fontFamilyPrimary;
    @include font-size(10px);
    @include margin(0px, 0px, 0px, 15px);
  }

  &__item-inner {
    max-height: 0;
    @include padding(0px, 0px, 0px, 10px);
    @include margin(0px, 0px, 6px, 12px);
    overflow: hidden;
    border-left: 2px solid #E1F1FE;
    transition: max-height 0.3s ease-out;

    ol > li {
      padding: 4px 0;
      font-family: $fontFamilyPrimary;
      @include font-size(10px);
      color: #9B9B9B;
    }
  }

  &__item-text {

  }
}

.nav-hint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;

  &__message {

  }

  &__human {
    object-fit: contain;
    object-position: right;
    align-self: flex-end;
    width: 50%;
  }

  &__arrow {
    object-fit: contain;
    object-position: top;
    transform: translateY(-43%);
  }

  &__text {
    font-family: $fontFamilyPrimary;
    @include font-size(10px);
    color: #000000;

    background: #E1F1FE;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    @include padding(10px, 10px, 10px, 10px);
  }
}