.promo {
  @include margin(100px);

  &__inner {
    overflow: hidden;
  }

  &__title {
    font-family: $fontFamilySecondary;
    text-align: left;
    @include font-size(24px);
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include margin(24px);
    overflow: hidden;
  }

  &__carousel {
    margin-top: 24px;
  }

  &__footer {
    width: 100%;
    background: #001437;
    text-align: center;
    @include padding(36px, 0px, 36px, 0px);
    margin-top: 90px;
  }

  &__form {
    width: 100%;
    margin-top: 24px;
  }

  &__contract {

  }
}

.promo-carousel {
  width: 100%;
  overflow-x: hidden;
  margin-left: 10px;

  &__item {
    width: 85%;
    height: 280px;
    margin: 6px;
  }

  .flickity-page-dots {
    bottom: 10px;
    transform: translateX(-10px);
  }

  .flickity-page-dots .dot {
    width: 8px;
    height: 8px;
    opacity: .3;
    background: #C4C4C4;
  }

  .flickity-page-dots .dot.is-selected {
    opacity: 1;
  }

}

.manifest {
  position: relative;
  background: $popupBackground;
  @extend %s-border;
  @include padding(31px, 25px, 73px, 14px);

  &--logo {
    @include padding(50px, 16px, 60px, 28px);
  }

  &__logo {
    position: absolute;
    right: 0;
    top: 0;
    object-fit: contain;

    $h-logo: 80px;
    height: $h-logo;

    @include _more-than($bp-xxl-375) {
      height: #{get-vw($h-logo, $bp-xxl-375)};
    }
  }

  &__title {
    font-family: $fontFamilySecondary;
    @include font-size(14px);
    line-height: 110%;
  }

  &__text {
    @include font-size(14px);
    line-height: 110%;

    &:not(:first-child) {
      @include padding(18px);
    }

    &--green {
      color: $colorAccent;
    }
  }
}

.trailer {
  &__video {
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      width: inherit;
      height: 100%;

      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
    }
  }

  &__description {
    @include font-size(12px);
    @include margin(16px);
    @include padding(0px, 5px, 0px, 21px);
  }
}

%tmp-input {
  $textColorInput: #B7B7B7;
  $borderColorInput: rgba(0, 0, 0, 0.3);


  background: $popupBackground;
  color: $textColorPrimary;

  &::placeholder {
    color: $textColorInput;
  }

  text-align: left;

  @include font-size(10px);
  padding: 10px 20px 10px 20px;

  border: 1px solid $borderColorInput;
  border-radius: 6px;

  @media (min-width: $bp-xxl-375) {
    border: #{get-vw(1px, $bp-xxl-375)} solid $borderColorInput;
    border-radius: #{get-vw(6px, $bp-xxl-375)};
  }
}

.app-form {

  &__title {
    font-family: $fontFamilySecondary;
    @include font-size(16px);
  }

  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 309fr 177fr;
    @include margin(10px);

    column-gap: 16px;

    @include _more-than($bp-xxl-375) {
      column-gap: #{get-vw(16px, $bp-xxl-375)};
    }
  }

  &__input {
    @extend %tmp-input;
    cursor: text;
  }

  &__submit {
  }

  &__note {
    @include font-size(9px);
    @include margin(4px);
    max-width: 90%;
    line-height: 105%;

    color: #BBBBBB;

    &--link {
      text-decoration: underline;
    }
  }
}