@import 'slider';

.stages {
  @include margin(150px);

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $textColorSecondary;
    color: #000000;
    @include font-size(24px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__carousel{
    position: relative;
  }
}

.stages-carousel {
  position: relative;

  &__item {

  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
  }
}